* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.grid-game {
  width: 600px;
  margin: 0 auto;
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  article {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    font-size: 2rem;
    display: grid;
    place-items: center;
  }
}

.form {
  text-align: center;
  margin-top: 1rem;
}